#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <36 49>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_main {
            bindings = <
&kp ESC    &kp N1  &kp N2         &kp N3            &kp N4            &kp N5                          &kp N6  &kp N7    &kp N8             &kp N9         &kp N0    &mo 3
&kp TAB    &kp Q   &kp W          &kp F             &kp P             &kp B                           &kp J   &kp L     &kp U              &kp Y          &kp SEMI  &kp MINUS
&kp BSPC   &kp A   &kp R          &kp S             &kp T             &kp G                           &kp M   &kp N     &kp E              &kp I          &kp O     &kp SQT
&kp LSHFT  &kp Z   &kp X          &kp C             &kp D             &kp V   &kp LBKT     &kp RBKT   &kp K   &kp H     &kp COMMA          &kp DOT        &kp FSLH  &kp RSHFT
                   &kp LS(LC(C))  &kp LEFT_CONTROL  &kp LG(LEFT_GUI)  &mo 1   &kp SPACE    &kp ENTER  &mo 2   &kp LALT  &kp RIGHT_CONTROL  &kp LC(LS(V))
            >;
        };

        layer_signs {
            bindings = <
&none  &none       &none       &none          &none          &none                          &none          &none         &none         &none          &none         &none
&none  &kp RA(S)   &kp RA(Q)   &kp RA(Y)      &kp RA(P)      &none                          &kp LS(PIPE)   &kp LS(EXCL)  &kp LS(AMPS)  &kp LS(POUND)  &kp LS(DLLR)  &none
&none  &kp LS(AT)  &kp LS(LT)  &kp LS(GT)     &kp LS(COLON)  &kp LS(TILDE)                  &kp LS(UNDER)  &kp LS(LPAR)  &kp LS(RPAR)  &kp LS(LBRC)   &kp LS(RBRC)  &none
&none  &kp BSLH    &kp GRAVE   &kp LS(CARET)  &kp LS(PRCNT)  &none          &none    &none  &none          &none         &none         &none          &kp FSLH      &none
                   &none       &none          &none          &none          &none    &none  &none          &none         &none         &none
            >;
        };

        layer_navi_numbers {
            bindings = <
&none  &kp F1     &kp F2    &kp F3     &kp F4     &kp F5                     &kp F6   &kp F7  &kp F8  &kp F9  &kp F10  &trans
&none  &kp PG_UP  &kp HOME  &kp UP     &kp END    &none                      &none    &kp N7  &kp N8  &kp N9  &none    &none
&none  &kp PG_DN  &kp LEFT  &kp DOWN   &kp RIGHT  &kp EQUAL                  &kp N0   &kp N4  &kp N5  &kp N6  &none    &none
&none  &kp FSLH   &kp STAR  &kp MINUS  &kp PLUS   &none      &none    &none  &kp DOT  &kp N1  &kp N2  &kp N3  &none    &none
                  &none     &none      &none      &trans     &none    &none  &trans   &none   &none   &none
            >;
        };

        layer_fn {
            bindings = <
&none  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5                  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&none  &kp F11  &kp F12  &none   &none   &none                   &none   &none   &none   &none   &none    &none
&none  &none    &none    &none   &none   &none                   &none   &none   &none   &none   &none    &none
&none  &none    &none    &none   &none   &none   &none    &none  &none   &none   &none   &none   &none    &none
                &none    &none   &none   &none   &none    &none  &none   &none   &none   &none
            >;
        };
    };
};