#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <36 49>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_main {
            bindings = <
&kp ESC    &kp N1  &kp N2         &kp N3            &kp N4        &kp N5                          &kp N6  &kp N7    &kp N8             &kp N9         &kp N0    &mo 3
&kp TAB    &kp Q   &kp W          &kp F             &kp P         &kp B                           &kp J   &kp L     &kp U              &kp Y          &kp SEMI  &kp MINUS
&kp BSPC   &kp A   &kp R          &kp S             &kp T         &kp G                           &kp M   &kp N     &kp E              &kp I          &kp O     &kp SQT
&kp LSHFT  &kp Z   &kp X          &kp C             &kp D         &kp V   &kp LBKT     &kp RBKT   &kp K   &kp H     &kp COMMA          &kp DOT        &kp FSLH  &kp RSHFT
                   &kp LS(LC(C))  &kp LEFT_CONTROL  &kp LEFT_GUI  &mo 1   &kp SPACE    &kp ENTER  &mo 2   &kp LALT  &kp RIGHT_CONTROL  &kp LC(LS(V))
            >;
        };

        layer_signs {
            bindings = <
&trans  &trans      &trans      &trans      &trans         &trans                           &trans         &trans        &trans        &trans         &trans        &trans
&trans  &kp RA(S)   &kp RA(Q)   &kp RA(Y)   &kp RA(P)      &trans                           &kp LS(PIPE)   &kp LS(EXCL)  &kp LS(AMPS)  &kp LS(POUND)  &kp LS(DLLR)  &trans
&trans  &kp LS(AT)  &kp LS(LT)  &kp LS(GT)  &kp LS(COLON)  &kp LS(TILDE)                    &kp LS(UNDER)  &kp LS(LPAR)  &kp LS(RPAR)  &kp LS(LBRC)   &kp LS(RBRC)  &trans
&trans  &kp BSLH    &kp LC(X)   &kp LC(C)   &kp LC(V)      &trans         &trans    &trans  &kp EQUAL      &kp CARET     &kp PERCENT   &kp GRAVE      &kp FSLH      &trans
                    &trans      &trans      &trans         &trans         &trans    &trans  &trans         &trans        &trans        &trans
            >;
        };

        layer_navi_numbers {
            bindings = <
&trans  &kp F1     &kp F2    &kp F3     &kp F4     &kp F5                       &kp F6   &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &kp PG_UP  &kp HOME  &kp UP     &kp END    &trans                       &trans   &kp N7  &kp N8  &kp N9  &trans   &trans
&trans  &kp PG_DN  &kp LEFT  &kp DOWN   &kp RIGHT  &kp EQUAL                    &kp N0   &kp N4  &kp N5  &kp N6  &trans   &trans
&trans  &kp FSLH   &kp STAR  &kp MINUS  &kp PLUS   &trans     &trans    &trans  &kp DOT  &kp N1  &kp N2  &kp N3  &trans   &trans
                   &trans    &trans     &trans     &trans     &trans    &trans  &trans   &trans  &trans  &trans
            >;
        };

        layer_fn {
            bindings = <
&none  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5                  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&none  &kp F11  &kp F12  &none   &none   &none                   &none   &none   &none   &none   &none    &none
&none  &none    &none    &none   &none   &none                   &none   &none   &none   &none   &none    &none
&none  &none    &none    &none   &none   &none   &none    &none  &none   &none   &none   &none   &none    &none
                &none    &none   &none   &none   &none    &none  &none   &none   &none   &none
            >;
        };
    };
};
